version: '3.8'

services:
  app:
    image: ${AR_IMAGE_PATH}

    container_name: minimizer_prod_app
    restart: always

    ports:
      - "8085:8080"

    env_file:
      - ./.env.prod

    environment:
      SPRING_PROFILES_ACTIVE: prod
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
